* {
  box-sizing: border-box;
}

body {
  background-color: #747d8c;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

button {
  border-radius: 10px;
  box-shadow: 8px 8px 5px #000;
  cursor: pointer;
  height: 130px;
  transition-duration: .3s;
  width: 130px;
}

button:active {
  box-shadow: none;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  -ms-flex: 8.333%;
      flex: 8.333%;
  max-width: 8.333%;
}

.col-2 {
  -ms-flex: 16.667%;
      flex: 16.667%;
  max-width: 16.667%;
}

.col-3 {
  -ms-flex: 25%;
      flex: 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 33.333%;
      flex: 33.333%;
  max-width: 33.333%;
}

.col-5 {
  -ms-flex: 41.667%;
      flex: 41.667%;
  max-width: 41.667%;
}

.col-6 {
  -ms-flex: 50%;
      flex: 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 58.333%;
      flex: 58.333%;
  max-width: 58.333%;
}

.col-8 {
  -ms-flex: 66.667%;
      flex: 66.667%;
  max-width: 66.667%;
}

.col-9 {
  -ms-flex: 75%;
      flex: 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 83.333%;
      flex: 83.333%;
  max-width: 83.333%;
}

.col-11 {
  -ms-flex: 91.667%;
      flex: 91.667%;
  max-width: 91.667%;
}

.col-12 {
  -ms-flex: 100%;
      flex: 100%;
  max-width: 100%;
}

.hidden {
  visibility: hidden;
}

.display-off {
  display: none;
}

.show-face {
  display: none;
}

.text-center {
  text-align: center;
}

.flex-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.font-20 {
  font-size: 20px;
}

.back-enter-modal {
  background-image: url("../images/back-enter-modal.png");
  background-size: 35%;
  background-position: right;
  background-repeat: no-repeat;
}

.prop-h1, .main .layer-front h1, .summary h1 {
  color: #fff;
  font-size: 22px;
  text-shadow: 2px 2px 2px #000;
}

.main {
  background-image: url("../images/Papier-Kamien-Nozyce.jpg");
  background-size: cover;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
  margin: auto;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.main .layer-front h2 {
  color: #ffa502;
  height: 30px;
  margin-top: 50px;
}

.main .layer-front p {
  color: #7bed9f;
  font-size: 24px;
}

.main .layer-front .faces {
  height: 130px;
  margin: 20px;
  width: 130px;
}

.main .layer-front .faces img {
  height: 130px;
  width: 130px;
}

.main .layer-front .buttons {
  width: 100vw;
}

.main .layer-front .buttons button {
  cursor: pointer;
}

.main .layer-front .buttons button:nth-of-type(1) {
  background-image: url("../images/paper.jpg");
  background-size: cover;
}

.main .layer-front .buttons button:nth-of-type(2) {
  background-image: url("../images/stone.jpg");
  background-size: cover;
}

.main .layer-front .buttons button:nth-of-type(3) {
  background-image: url("../images/shears.jpg");
  background-size: cover;
}

.main .layer-front .function-button {
  background-color: #ced6e0;
  font-size: 23px;
  height: 50px;
  margin: 0 20px 20px;
}

.summary {
  display: block;
  max-height: calc(100vh / 2);
  height: 100%;
  overflow-y: auto;
}

.summary h1 {
  background-color: #8599A2;
  position: fixed;
  margin: 0;
  padding: 10px 0;
}

.summary table {
  max-height: 100%;
  height: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #ffa502;
  margin-top: 60px;
}

.summary table thead {
  border-bottom: 1px solid #ffa502;
}

.summary table tbody tr td {
  text-align: center;
}

.summary table tbody tr:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.summary table tbody tr:last-child td:last-child {
  background-color: #ffa502;
  color: #fff;
  font-weight: bold;
}

/* Components */
.component__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.component__overlay.show {
  display: -ms-flexbox;
  display: flex;
}

.component__modal {
  max-width: 600px;
  margin: auto;
  background-color: #8599A2;
  position: relative;
  padding: 30px;
  display: none;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
}

.component__modal.show {
  display: block;
}

.component__modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.component__take-data .field {
  padding: 10px;
}

.component__take-data .field input {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}

.component__take-data .field .number {
  width: 142px;
}

.component__take-data .submit {
  width: 150px;
  height: 50px;
  background-color: #ffa502;
  border: none;
  margin-top: 50px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

/* Sections */
/* Pages / Views */
/*# sourceMappingURL=style.css.map */