* {
  box-sizing: border-box;
}

body {
  background-color: $grey;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

button {
  border-radius: 10px;
  box-shadow: 8px 8px 5px $black;
  cursor: pointer;
  height: 130px;
  transition-duration: .3s;
  width: 130px;

  &:active {
    box-shadow: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 8.333%;
  max-width: 8.333%;
}
.col-2 {
  flex: 16.667%;
  max-width: 16.667%;
}
.col-3 {
  flex: 25%;
  max-width: 25%;
}
.col-4 {
  flex: 33.333%;
  max-width: 33.333%;
}
.col-5 {
  flex: 41.667%;
  max-width: 41.667%;
}
.col-6 {
  flex: 50%;
  max-width: 50%;
}
.col-7 {
  flex: 58.333%;
  max-width: 58.333%;
}
.col-8 {
  flex: 66.667%;
  max-width: 66.667%;
}
.col-9 {
  flex: 75%;
  max-width: 75%;
}
.col-10 {
  flex: 83.333%;
  max-width: 83.333%;
}
.col-11 {
  flex: 91.667%;
  max-width: 91.667%;
}
.col-12 {
  flex: 100%;
  max-width: 100%;
}

.hidden {
  visibility: hidden;
}

.display-off {
  display: none;
}

.show-face {
  display: none;
}

.text-center {
  text-align: center;
}

.flex-center {
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.font-20 {
  font-size: 20px;
}

.back-enter-modal {
  background-image: url("../images/back-enter-modal.png");
  background-size: 35%;
  background-position: right;
  background-repeat: no-repeat;
}

.prop-h1 {
  color: $white;
  font-size: 22px;
  text-shadow: 2px 2px 2px $black;
}

.main {
  background-image: url("../images/Papier-Kamien-Nozyce.jpg");
  background-size: cover;
  border: 1px solid $white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px $black;
  margin: auto;
  justify-content: center;
  align-items: center;

  .layer-front {
    h1 {
      @extend .prop-h1
    }

    h2 {
      color: $orange;
      height: 30px;
      margin-top: 50px;
    }

    p {
      color: $green;
      font-size: 24px;
    }

    .faces {
      height: 130px;
      margin: 20px;
      width: 130px;


      img {
        height: 130px;
        width: 130px;
      }
    }

    .buttons {
      width: 100vw;

      button {
        cursor: pointer;
      }

      button:nth-of-type(1) {
        background-image: url("../images/paper.png");
        background-size: cover;
      }

      button:nth-of-type(2) {
        background-image: url("../images/rock.png");
        background-size: cover;
      }

      button:nth-of-type(3) {
        background-image: url("../images/scissors.png");
        background-size: cover;
      }
    }

    .function-button {
      background-color: $grey-light;
      font-size: 23px;
      height: 50px;
      margin: 0 20px 20px;
    }
  }
}

.summary {
  display: block;
  max-height: calc(100vh / 2);
  height: 100%;
  overflow: auto;
  position: relative;

  .top-line {
    position: fixed;
  }

  h1 {
    background-color: $grey-back;
    margin: 0;
    padding: 10px 0;
    width: 460px;
    @extend .prop-h1
  }

  table {
    max-height: 100%;
    height: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid $orange;
    margin-top: 80px;

    thead {
      border-bottom: 1px solid $orange;

      th {
        padding: 0 10px;
      }

    }

    tbody {
      tr {
        td {
          text-align: center;
        }

        &:hover {
          background-color: $black;
          color: $white;
          cursor: pointer;
        }
      }

      tr:last-child {
        td:last-child {
          background-color: $orange;
          color: $white;
          font-weight: bold;
        }
      }
    }
  }
}

